*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #2626ad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.header{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.header h1{
    margin-bottom: 10px;
}


.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
    align-items: center;
    width: 480px;
    height: 350px;
    background-color: white;
    padding: 30px;
}
.text{
    text-align: center;
}
#job{
    color: #2626ad;
}
#customer-img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
}
.arrow{
    display: flex;
    gap: 15px;
}
.arrow i:active{
    color: #2626ad;
}
